<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="conString" value="Ɽἁ馔ᐁـ胳ﮏ瘕梒嶅俀쩝䓀㝎뇛ⱩἎ馉ᐔډ脁ﮌ痀档嶔倁쪌䔏㞇뇀ⱝỀ饤ᐁڔ脁ﭳ瘔梏嶁倇쪅䓛㝵눓ⲅἒ饀Ꮹ٤胀ﭝ痀梓嵛俰쪁䔓㞓눗ⲏἒ馄Ꮐٝ胀ﮐ瘁梓嶗倏쪒䔄" />
    <add key="font" value="微软雅黑" />
    <add key="fontSize" value="15" />

      <add key="Server" value="ⱎ"  />
      <add key="Database" value="Ɽἁ馔ᐁٳ脔ﮏ瘒梁嶅" />
      <add key="UserID"  value="ⲓἁ" />
      <add key="Password"  value="Ⲑἁ馓ᐓڗ脏ﮒ瘄" />
      <add key="Seed"  value="10" />
    </appSettings>
  <connectionStrings>
    <add name="mycon" connectionString="Ɽἁ馔ᐁـ胳ﮏ瘕梒嶅俀쩝䓀㝎뇛ⱩἎ馉ᐔډ脁ﮌ痀档嶔倁쪌䔏㞇뇀ⱝỀ饤ᐁڔ脁ﭳ瘔梏嶁倇쪅䓛㝵눓ⲅἒ饀Ꮹ٤胀ﭝ痀梓嵛俰쪁䔓㞓눗ⲏἒ馄Ꮐٝ胀ﮐ瘁梓嶗倏쪒䔄" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>